{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/9903d03c99.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
</head>


<body class="font-['Poppins'] text-white bg-[#191919]">
  <nav class=" flex justify-between flex-wrap text-white py-4 outline outline-1 outline-[#ffbc51] px-8 ">
    <div class="px-2 text-4xl font-black font-[caveat] tracking-widest text-[#ffbc51] hover:scale-110 duration-300"><a href="#">Elite INT</a></div>
    <div class="self-end font-bold tracking-wider my-4 ">
        <a href="#" id="'about" class="m-2 hover:text-[#ffbc51] transition duration-300 ">About</a>
        <a href="#" id="services" class="m-2 hover:text-[#ffbc51] transition duration-300 ">Services</a>
        <a href="#" id="products" class="m-2 hover:text-[#ffbc51] transition duration-300 ">Products</a>
        <a href="#" id="contact" class="m-2 hover:text-[#ffbc51] transition duration-300">Contact</a>
    </div>
    <div class="self-center tracking-wider">
        <a href="#" class=" mx-1 hover:bg-[#ffbc51] hover:text-[#353535] hover:font-bold p-2 rounded-lg transition duration-300 ">Shop Now</a>
    </div>
  </nav>


  <div class=" w-full flex flex-wrap text-wrap ">
    <div class="relative flex text-white " >
      <img class=" object-fill w-auto overflow-hidden "  src="{% static 'image/c1.jpg' %}" loading="eager" alt="c1">
        <strong class="absolute mt-2 ml-12 text-[#ffbc51] font-bold text-7xl font-[Caveat]">Exclusive</strong>
        <span class="absolute font-bold ml-8 mt-20 text-7xl">Furniture</span>
        <span class="absolute shrink-1  ml-72 mt-40 p-2 text-center font-[caveat] font-black text-3xl bg-[#ffbc51] rounded-3xl  text-black" >FOR SALE</span>
      
    </div>
  </div>


  <div class=" flex flex-wrap text-wrap text-white mt-20 mx-32  outline outline-1 outline-[#ffbc51] shadow-lg shadow-gray-600 rounded-2xl " >
    <h1 class=" mx-4 font-bold text-3xl flex justify-start my-8 text-[#ffbc51] tracking-widest " > Welcome </h1>
    <p class="mx-4 mb-8 tracking-wider font-normal">Here our collection of exquisite furniture, where style meets functionality. Whether you're looking to elevate your living space, transform your favorite area into a cozy sanctuary.</p>
    <a href="#" class="m-2 mx-12 mb-4 bg-[#ffbc51] text-[#353535] font-bold p-2 px-4 rounded-2xl transition hover:scale-110 duration-300 ">View Product</a>
  </div>


  <div class="my-8 " loading="lazy" >
    <H1 class="font-bold text-3xl flex justify-center my-20 text-[#ffbc51] tracking-widest ">Our Products </H1>
    <div class="flex flex-wrap text-wrap justify-evenly text-xl">
      <div class=" h-72 w-60 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] hover:scale-110 duration-500 ">
        <img class=" rounded-xl object-fill " src="{% static 'image/p1.jpg' %}" alt="p1" loading="lazy">
        <strong class=" ml-4 text-[#9e9e9e]  font-normal ml-4 ">Loft chair</strong>
        <button class=" ml-4 font-semibold hover:text-[#ffbc51] " >Buy now</button>
      </div >
      <div class="h-72 w-60 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] hover:scale-110 duration-500 ">
        <img class="rounded-xl object-fill " src="{% static 'image/p2.jpg' %}" alt="p2" loading="lazy">
        <strong class=" ml-4 text-[#9e9e9e]  font-normal ml-4 ">Loft chair</strong>
        <button class=" ml-4 font-semibold hover:text-[#ffbc51] " >Buy now</button>
      </div>
      <div class="h-72 w-60 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] hover:scale-110 duration-500 ">
        <img class="rounded-xl object-fill " src="{% static 'image/p3.jpg' %}" alt="p3" loading="lazy">
        <strong class=" ml-4 text-[#9e9e9e]  font-normal ml-4 ">Loft chair</strong>
        <button class=" ml-4 font-semibold hover:text-[#ffbc51] " >Buy now</button>
      </div>
      <div class="h-72 w-60 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] hover:scale-110 duration-500 ">
        <img class="rounded-xl object-fill " src="{% static 'image/p4.jpg' %}" alt="p4" loading="lazy">
        <strong class=" ml-4 text-[#9e9e9e]  font-normal ml-4 ">Loft chair</strong>
        <button class=" ml-4 font-semibold hover:text-[#ffbc51] " >Buy now</button>
      </div>
    </div>
  </div>


    


  <div class="text-white px-2 py-2 my-8 "  >
    <h1 class="font-bold text-3xl text-[#ffbc51] flex justify-center my-20 tracking-widest"> Features</h1>
    <div class=" flex flex-wrap text-wrap justify-evenly shadow-inner ">
        <div class=" shadow-lg shadow-gray-600 relative h-72 w-60 mx-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] ">
            <i class="fa-solid fa-truck-fast fa-2xl grid place-items-center my-8"></i>
            <h1 class="font-bold text-white grid place-items-center my-8 tracking-widest">Fast Shipping</h1>
            <p class="h-32 w-52 text-clip overflow-hidden   text-center mx-4 ">Fast delivery within a week (Speedy Delivery). Customer Know current state of an order and shipment .</p>
              <a href="#" class="absolute right-8 hover:text-[#ffbc51] hover:scale-110 duration-300 ">more . . </a>
        </div>
        <div class="shadow-lg shadow-gray-600 relative h-72 w-60 mx-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] ">
            <i class="fa-solid fa-medal fa-2xl grid place-items-center my-8"></i>
            <h1 class="font-bold text-white grid place-items-center my-8 tracking-widest">Quality Product</h1>
            <p class="h-32 w-52 text-clip overflow-hidden text-center mx-4 ">Our products that last a long time, even with regular use, are indicative of their high quality and durability</p>
            <a href="#" class="absolute right-8 hover:text-[#ffbc51] hover:scale-110 duration-300 ">more . . </a>
          </div>
        <div class="shadow-lg shadow-gray-600 relative h-72 w-60 mx-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] ">
            <i class="fa-solid fa-headset fa-2xl grid place-items-center my-8 "></i>
            <h1 class="font-bold text-white grid place-items-center my-8 tracking-widest">24/7  Support</h1>
            <p class="h-32 w-52 text-clip overflow-hidden   text-center mx-4 "> Our customer service that provides support to solve the customer needs and give assistance at all times of the day</p>
            <a href="#" class="absolute right-8 hover:text-[#ffbc51] hover:scale-110 duration-300">more . . </a>
        </div>
    </div>
  </div>




    <div class="my-8 " >
      <H1 class="font-bold text-3xl flex justify-center my-20 text-[#ffbc51] tracking-widest ">Our Projects </H1>
      <div class="flex flex-wrap text-wrap justify-evenly ">
        <div class="h-64 w-80 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] hover:scale-110 duration-500">
          <img class="rounded-xl object-fill " src="{% static 'image/c2.jpg' %}" alt="c2" loading="lazy">
          <a href="#" class="flex justify-end mt-3 right-8 mr-4 hover:text-[#ffbc51] underline ">view </a>
        </div >
        <div class="h-64 w-80 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] hover:scale-110 duration-500">
          <img class="rounded-xl object-fill " src="{% static 'image/c3.jpg' %}" alt="c3" loading="lazy">
          <a href="#" class="flex justify-end mt-3 right-8 mr-4 right-8 hover:text-[#ffbc51] underline ">view</a>
        </div>
        <div class="h-64 w-80 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] hover:scale-110 duration-500">
          <img class="rounded-xl object-fill " src="{% static 'image/c4.jpg' %}" alt="c4" loading="lazy">
          <a href="#" class="flex justify-end mt-3 right-8 mr-4 right-8 hover:text-[#ffbc51] underline ">view</a>
        </div>
      </div>
    </div>


    <div class=" my-8 select-none " >
      <H1 class="font-bold text-3xl flex justify-center my-20 text-[#ffbc51] tracking-widest">Review </H1>
      <div class="flex flex-wrap text-wrap justify-evenly tracking-wider ">
        <div class=" h-64 w-88 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] shadow-lg shadow-gray-600 ">
          <div class=" absolute h-20 w-20 rounded-full bg-black l-4 m-2 ml-4 outline outline-1 outline-[#ffbc51] " >
            <img class="rounded-full object-fill h-20 w-20" src="{% static 'image/f1.jpg' %}" alt="f1" loading="lazy">
          </div>
          <div class=" ml-24 grid h-16 w-52 rounded-xl grid place-items-center outline outline-1 outline-[#ffbc51] px-2 m-4" >
            <strong>Anneliese</strong>
          </div>
          <div class="h-40 w-72 mx-3"><p>We roamed and roamed but we didn't find quality items. Finally we entered to elite. Really satisfied with quality and service.</p></div>
        </div >
        <div class=" h-64 w-88 m-2 my-8 rounded-xl outline outline-1 outline-[#ffbc51] shadow-lg shadow-gray-600 ">
          <div class=" absolute h-20 w-20 rounded-full bg-black l-4 m-2 ml-4 outline outline-1 outline-[#ffbc51]" >
            <img class="rounded-full object-fill h-20 w-20" src="{% static 'image/f2.jpg' %}" alt="f2" loading="lazy">
          </div>
          <div class=" ml-24 grid h-16 w-52 rounded-xl grid place-items-center outline outline-1 outline-[#ffbc51] px-2 m-4" >
            <strong>Carol</strong>
          </div>
          <div class="h-40 w-72 mx-3"><p>The price was very competitive and delivery was on schedule and efficient. Excellent service and good quality product, especially for the price. ... Absolutely ...</p></div>
        </div>
      </div>
    </div>


<!-- bottom -->   
<div class="bg-black">
  <div class="flex flex-wrap text-wrap mx-8 py-8 ">
    <div class=" text-3xl w-1/2 px-8" >
      <h1 class="select-none">TRANSFORM YOUR HOME WITH OUR STYLISH FURNITURE!!! </h1>
    </div>
    <div class=" w-1/2 px-8">
      <p class="text-sm select-none ">Discover our created selection of furniture piece that are not only stylish but also functional, bringing the touch of elegance to your living space.</p>
      <button class="text-xl font-black tracking-widest my-4 px-20 py-4 bg-[#ffbc51] rounded-xl ">Shop Now</button>
    </div>
  </div>

  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700 mx-16 bg-black">

  <div class="flex flex-wrap text-wrap pl-16 justify-between ml-8 gap-4 m-2 mt-20">
    <div class="  max-w-96 my-8">
      <h1 class="text-4xl text-[#ffbc51] mb-4 font-black tracking-widest font-[caveat] ">Elite INT</h1>
      <p class="select-none">Unleash your creativity with our versatile furniture options. Experience comfort and quality with our furnitures. Transform your home with our style and comfy furniture.</p>
    </div>
    <div class="grid font-light gap-1">
      <h1 class="font-bold mb-2">Company</h1>
      <a href="">About as</a>
      <a href="">Gift cards</a>
      <a href="">Careers</a>
      <a href="">Location</a>
    </div>
    <div class=" grid font-light gap-1">
      <h1 class="font-bold mb-2">More Link</h1>
      <a href="">Terms of use</a>
      <a href="">Privacy policy</a>
      <a href="">Track order</a>
      <a href="">Support</a>
    </div>
    <div class=" grid  font-light my-12 mr-16">
      <h1 class="font-bold mb-4">Contact</h1>
      <p>Customer Service Open</p>
      <p>morning 10AM</p>
    </div>
  </div>
</div>
</body>
</html>